.main{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.6;
}
.background{
    background-image: url(../image/beachshowcase.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: auto;
    height: 100vh; 
}

.button{
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid #926239;
    color:#926239;
    padding: 15px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background-color:#926239 ;
    color: #fff;
}
.center {
    position: absolute;
    color: #926239;
  
}

.center h1{
    font-size: 50px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
   
}

.center p{
    font-size: 20px;
    margin: auto;
    text-align: center;
   
}
   
.paragraph-a{
    background-color: #926239;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 20px;
}

.paragraph-b {
    background: #f4f4f4;
    color: #926239;
    text-align: center;
    padding: 10px;
}

.box{
  float: left;
  width: calc( 33.33% - 20px);
  height: 100px;
  text-align: justify;
  margin: 0;
  padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
 
.a {
    background-color: #926239;
    color: #fff;
   
}

.b {
    background-color: #fff;
    color:#926239; 
    
}

.c {
    background-color: #926239;
    color: #fff;;
}

